<h1>Post Title</h1>
<img width="300" src="https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/Zugpsitze_mountain.jpg?crop=0%2C214%2C3008%2C1579&wid=1200&hei=630&scl=2.506666666666667">
<p>Your long post content comes here.</p>

<h1> <%= @name %></h1>

<%= yield %>

<div>---------</div>

<%= yield_content :one %>

<div>---------</div>




<%= yield_content :msg %>
